:root {
    --ocean:#1a535c; 
    --bluegem:#4ecdc4; 
    --white:#f7fff7; 
    --salmon:#ff6b6b; 
    --sunflower:#ffe66d; 
}

* {
    font-family: 'Nunito', sans-serif;
    font-size: 14px; 
}

h1 {
    font-size:3em; 
    text-align: center;
}


