:root {
    --ocean:#1a535c; 
    --bluegem:#38b1a9; 
    --lightblue:#97ede7; 
    --white:#f7fff7; 
    --salmon:#ff6b6b; 
    --sunflower:#e6c41b; 
}

* {
    font-family: 'Nunito', sans-serif;
    font-size: 14px; 
}

#planner-image {
    width:100%; 
    position:relative; 
    z-index: -1; 
    opacity: 0.7;
}
/* Amanda's Day Planner Text */
h1 {
    font-size:4em; 
    position: absolute; 
    top:10%; 
    left: 4%; 
    color:var(--ocean); 
    text-shadow: 1px 1px 3px var(--ocean); 
}

/* Current Date & Time Text */
h3 {
    color: var(--ocean); 
    font-size: 2em;
    position: absolute;
    top:35%;  
    right:4%; 
    text-align: right;
    width:100%; 
    font-weight: bold;
    text-shadow: 1px 1px 3px var(--ocean); 
}
#datetime {
    top:45%; 
}

table {
    width: 100%; 
    background-color: var(--ocean);
    /* border-collapse: collapse; */
    border: 1px solid var(--white); 
    border-radius: 5px;
}

/* Table Header & Table Data */
th {
    border: 1px solid var(--white);
    color: var(--salmon); 
    height:30px; 
    font-size:2em; 
    border-radius: 5px;
}
td {
    border: 1px solid var(--white);
    border-radius: 5px;
}
.events {
    border:none; 
}

/* Time & Save Columns  */
#time, #save {
    width:20%; 
}
.time {
    text-align:center; 
    font-size: 1.5em;
    color: var(--salmon); 
}
/* th:hover, td:hover {
    background-color: var(--sunflower);
} */

/* Save Icon  */
img {
    width:20%; 
    display:block; 
    margin:0 auto; 
}
img:hover {
    cursor: pointer;
}

input {
    width: 99%; 
    height:35px; 
    background-color: var(--ocean);
    color:var(--white); 
    font-size: 1em;
    border:1px solid var(--white);
    border-radius: 5px;
}
input:focus {
    background-color: var(--bluegem);
}

::placeholder {
    font-size: 1em;
    color: var(--white); 
}

@media only screen and (max-width: 776px) {
    h3 {
        font-size: 1.5em;
        width:100%; 
        text-align:center; 
        right:0; 
        top:25%; 
    }

    #datetime {
        top: 35%; 
    }

    h1 {
        width:100%; 
        font-size: 2em;
        text-align: center;
        left:0; 
        top:10%; 
    }

    table {
        font-size: 1em;
    }

    th, .time {
        font-size:1.5em; 
    }
}